body{
	background-image: url("picture.jpg");
}
.fear{
	display: block;
}
form{
	padding: 150px;
	margin: 120px;
	padding-top: 185px;
	padding-left: 425px;
}
a{
	display: block;
	width: 80px;
	height: 30px;
}

